{% with comments.count as total_comments %}
    <h2 class='subtitle is-4'>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
{% endwith %}

{% for comment in comments %}
    <article class="message">
        <div class="message-body">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ comment.name }}</strong> - <small>{{ comment.created_at }}</small>
                            <br>
                            </br>
                            {{ comment.body }}
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </article>
{% empty %}
    <p class="has-text-grey">There are no comments yet.</p>
{% endfor %}

{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}
    <h2 class='subtitle is-4 mt-3'>Add a new comment</h2>
    <article class="media">
        <form method='post'>
            {% csrf_token %}

            {% for field in form %}
                <div class="field">
                    <div class="control">
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            </br>


            <div class='field'>
                <div class="control">
                    <button class="button is-info">Add comment</button>
                </div>
            </div>
        </form>
    </article>
{% endif %}
