<div class="columns is-multiline is-paddingless">
    {% for popular_post in popular_posts %}
        <div class="column is-one-third-desktop is-half-tablet is-paddingless">
            <div class="card-content" style="padding: 0.5rem;">
                <article class="media">
                    <figure class="media-left">
                        <h1 class="title is-size-2-desktop is-size-4-tablet">
                            <a >{{ forloop.counter }}</a>
                        </h1>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h1 class="title is-size-4-desktop is-size-5  ">
                                <a href="{% url 'post_detail' popular_post.category.slug popular_post.slug %}">{{ popular_post.title|slice:":35" }}...</a>
                            </h1>
                            <h2 class="subtitle is-size-6-desktop is-size-7 has-text-grey-light">
                                on {{ popular_post.created_at|date:'d M' }} in <a href="{% url 'post_detail' popular_post.category.slug popular_post.slug %}">{{ popular_post.category }}</a>
                            </h2>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    {% endfor %}
</div>



