{% if post_list %}
    <div class="card notification is-paddingless is-marginless mobile">
        <h2 class="subtitle is-size-5-desktop is-size-6 has-text-black mt-4 mb-2"><strong>Popular post:</strong></h2>

        {% for popular_post in popular_posts %}
        <div class="card-content is-marginless mt-1" style="padding: 0.4rem;">
            <div class="media center">
              <div class="media-left">
                <figure class="image">
                    {% if popular_post.image %}
                        <img class="image is-rounded is-64x64" src="{{ popular_post.get_thumbnail }}">
                    {% endif %}
                </figure>
              </div>
              <div class="media-content center">
                  <div class="content is-size-7 is-size-6-desktop">
                      <a href="{% url 'post_detail' popular_post.category.slug popular_post.slug %}">{{ popular_post.title }}</a>
                  </div>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div></div>
{% endif %}


