{% for post in post_list %}
    <div class="section">
        <article class="media">
            <figure class="media-left">
                {% if post.image %}
                    <img class="image is-128x128" src="{{ post.get_thumbnail }}">
                {% endif %}
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <small class="is-size-4">
                            <strong><a href="{% url 'post_detail' post.category.slug post.slug %}">{{ post.title }}</a></strong>
                        </small>
                        <small class="is-size-6">
                            <p>by {{ post.author }} on {{ post.created_at|date:'M d, Y' }} in <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></p>
                        </small>
                        <br>
                            <p class="has-text-dark">{{ post.body|slice:":300" }}...</p>
                            <a href="{% url 'post_detail' post.category.slug post.slug %}">Read more</a>
                        <br>
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endfor %}