{% extends 'core/base.html' %}

{% block title %}{{ category.title }} | {% endblock %}

{% block content %}
    <div class="columns is-8 is-variable is-paddingless is-marginless">
        <div class="column is-two-thirds has-text-left">

            {% include 'parts/post_lists.html' %}

            <hr>

            {% include 'parts/pagination.html' %}

        </div>

        <div class="column is-one-third has-text-left is-paddingless is-marginless">

            {% include 'parts/post_popular.html' %}

        </div>

    </div>
{% endblock %}