{% extends 'core/base.html' %}

{% load blog_extras %}

{% block title %}{{ post.title}} | {% endblock %}

{% block content %}
    <section class="section">
        <div class="columns is-paddingless">
            <div class="column is-8 is-offset-2">
                <div class="container">
                    <div class="section is-paddingless mb-5">
                        <h1 class="title is-size-3-desktop is-size-4 mb-5">{{ post.title }}</h1>
                        <h2 class="subtitle is-size-6-desktop is-size-6-tablet is-size-7 has-text-grey-light">
                           <p>on {{ post.created_at|date:'M-d-Y' }} in <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></p>
                        </h2>
                    </div>
                </div>

                {% if post.image %}
                    <figure class='image is-16by9 card'>
                        <img src="{{ post.image.url }}">
                    </figure>
                    <figcaption class="level mt-2">
                        <small class="level-item has-text-grey">
                            The blog we'll build. Click to continue on Scrimba
                        </small>
                    </figcaption>
                {% endif %}

                <hr>

                <div class="content is-medium-desktop is-small-tablet">
                    <p> {{ post.body|convert_markdown|safe }}</p>
                </div>

                <hr>

                <h2 class="subtitle is-4">Related posts</h2>

                {% with related_posts as post_lists %}
                    {% include 'parts/related_post.html' %}
                {% endwith %}

                <hr>

                {% include 'parts/comment.html' %}
            </div>
        </div>

    </section>

{% endblock %}
