{% extends 'core/base.html' %}

{% block title %}{{ post.title}} | {% endblock %}

{% block content %}
    <section class="hero ">
        <div class="hero-body">
      	    <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            {% if post.image %}
                                <figure class='image mb-6'>
                                    <img src="{{ post.image.url }}">
                                </figure>
                            {% endif %}
                            <div class="content is-medium">
                                <h2 class="subtitle is-4">{{ post.created_at|date:'M-d-Y' }}</h2>
                                <h1 class="title">{{ post.title }}</h1>
                                <p><strong>{{ post.intro }}</strong></p>

                                <p> {{ post.body }}</p>

                                <p><small>Category: <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></small></p>
                            </div>

                            <hr>

                            <h2 class="subtitle">Related products</h2>

                            <div class="columns is-multiline">
                                {% for related_product in related_products %}
                                    <div class="column is-3">
                                        <div class="card">
                                            <div class="card-image">
                                                <figure class="image">
                                                    {% if related_product.thumbnail %}
                                                        <img src="{{ related_product.thumbnail.url }}">
                                                    {% endif %}
                                                </figure>
                                            </div>

                                            <div class="card-content">
                                                <div class="media">
                                                    <div class="media-content">
                                                        <p class="title is-4">{{ related_product.title }}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <footer class="card-footer">
                                                <a href="{% url 'product_detail' related_product.category.slug related_product.slug %}" class="card-footer-item">View</a>
                                            </footer>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>


                            <hr>

                            {% for comment in post.comments.all %}
                                <article class='media box'>
                                    <div class='media-content'>
                                        <strong>{{ comment.name }}</strong> <small>{{ comment.created_at|timesince }} ago</small>
                                        {{ comment.body }}
                                    </div>
                                </article>
                            {% endfor %}

                            <h2 class='subtitle is-4'>Comments</h2>

                            <form method='post'>
                                {% csrf_token %}

                                {{ form.as_p }}

                                <div class='field'>
                                    <div class="control">
                                        <button class="button is-primary">Submit comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
      	    </div>
        </div>
    </section>
{% endblock %}