{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}Crash Blog</title>

    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="{% static 'debug.css' %}">-->
    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>
<body>
    <!-- START NAV -->
    <nav class="navbar has-background-info-light is-fixed-top" id="apps">
        <div class="navbar-brand">
            <a class="navbar-item" href="/"> <strong>Crash blog</strong></a>
            <a v-bind:aria-expanded="isActive" v-bind:class="{ 'is-active': isActive }" role="button" class="navbar-burger"
               aria-label="menu" data-target="navbarMenu" @click="isActive = !isActive">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu" v-bind:class="{ 'is-active': isActive }">
            <div class="navbar-start has-text-weight-bold">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Topics
                    </a>

                    <div class="navbar-dropdown">
                        {% for category in menu_categories %}
                            {% if not category.children.all %}
                                <a href="{% url 'category_detail' category.slug %}" class="navbar-item">{{ category.title }}</a>
                            {% else %}
                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a href="{% url 'category_detail' category.slug %}" class="navbar-link">{{ category.title }}</a>-->
                                        <div class="navbar-dropdown">
                                            {% for subcategory in category.children.all %}
                                                <a href="{% url 'category_detail' subcategory.slug %}" class="navbar-item">{{ subcategory.title }}</a>
                                            {% endfor %}
                                        </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <a href="/" class="navbar-item">
                    About
                </a>

                <a href="{% url 'about' %}" class="navbar-item">
                    Contact
                </a>
            </div>


            <div class="navbar-end has-text-weight-bold">
                <div class=" navbar-item">
                    <form method="get" action="{% url 'search' %}">
                        <div class="control has-icons-left">
                            <input class="input is-rounded" name="query" type="text" placeholder="Search">
                            <span class="icon is-left">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->

<!--    section-->
    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            {% block content %}
            {% endblock %}
        </div>

        <div class="hero-foot has-text-centered mb-3">
            <p>
                Copyright (c) 2021 - Crash blog
            </p>
        </div>
    </section>
<!--    /section-->



<script src="https://unpkg.com/vue@next"></script>
<script>
    const apps = Vue.createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                isActive: false,
                showNavbar: true
            }
        }
    })

    const vm = apps.mount('#apps')
</script>

</body>
</html>