{% extends 'core/base.html' %}

{% block title %}Home | {% endblock %}

{% block content %}

    <div class="section">
        <div class="columns is-variable is-paddingless is-marginless">
            <div class="column is-full has-text-left">

                <h1 class="title is-size-5-desktop is-size-6 has-text-weight-semibold is-uppercase">Trending on blog</h1>
                {% include 'parts/post_popular_new.html' %}

                <hr>

                {% include 'parts/post_lists_new.html' %}

                <hr>

                {% include 'parts/pagination.html' %}

            </div>

        </div>
    </div>
{% endblock %}