.column.is-two-thirds.has-text-left {
  padding-top: 100px;

}

.column.is-one-third.has-text-left {
  position: sticky;
  display: inline-block;
  vertical-align: top;
  max-height: 0vh;
  top: 0;
  bottom: 0;
  padding-top: 120px;
  padding-bottom: 520px;
}

.section {
  padding: 2rem 1.5rem;
}

img {
  border: 3px solid white;
  padding: 8px;
}

.card-content {
  padding: 0rem;

}